/* for trip page */

main li {
  padding: 1% 0 0 0;
}

#flight a {
  display: block;
  padding: 1% 0 0 0;
  font-size: 1.2rem;
}

/* for tables */
table {
  width: 100%;
  border-collapse: collapse;
  padding-bottom: 1%;
  font-size: 1.2rem;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: white;
}


tr:hover {
  background-color: #f1f1f1;
}

#itinerary h2 {
  margin: 0 0 3% 0;
}

#itinerary li {
  white-space: pre;
}


.locations-wrapper {
  display: flex;
}

.locations, #map {
  width: 50%;
}

.locations h3 {
  font-size: 1.3rem;
}

.locations-wrapper li {
  font-size: 1rem;
}

.location {
  padding-bottom: 1%;
}

#map {
  height: 600px;
}



/* Media queries */

/* for Mobile */
@media (max-width: 690px){
  .mobile .page-nav .menu-item div, .mobile .page-nav .menu-item a {
    white-space: pre;
  }

  .mobile .page-nav .menu-item:nth-child(3) a {
    font-size: 11px;
  }

  h3 {
    font-size: 1.2rem;
  }


  th, td {
    padding: 10px 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 0.9rem;
  }

  #flight a {
    display: block;
    padding-top: 2%;
  }

  main li {
    padding: 1% 0 0 0;
    font-size: 1.1rem;
  }

  #itinerary h2 {
    margin: 0 0 5% 0;
  }

  .locations-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .locations {
    padding: 3%;
  }

  .locations, #map {
    width: 100%;
  }

  .location {
    padding-top: 4%;
  }
  
  .location h3 {
    font-size: 1.5rem;
  }

  .location li {
    font-size: 1rem;
  }

  .location a {
    font-size: 0.8rem;
  }

  #map {
    margin-top: 10%;
    height: 500px;
  }

}